<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo App Angular</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/module.js"></script>

    <!-- Controllers -->
    <script src="js/list/todo.controller.js"></script>

    <!-- Services -->
    <script src="js/list/list.service.js"></script>

    <!-- Directives -->
    <script src="js/list/todoList.directive.js"></script>
  </head>
  <body ng-app="todoApp" ng-controller="todoController as todoCtrl">
    <div class="container">
      <div class="jumbotron todo">
        <input type="text"
               class="todoInput"
               ng-model="todo.item"
               placeholder="Click to enter a Title" />
        <button type="button"
                class="btn btn-default"
                ng-click="todoCtrl.addToList(todo.item)">Add</button>
      </div>
      <todo-list></todo-list>
    </div>
  </body>
</html>
